<app-header></app-header>
<app-side-menu></app-side-menu>

<section class="reciente">
  <h3>Reciente</h3>
  <div class="carousel">
      <button class="carousel-button prev" onclick="prevSlide()">&#10094;</button>
      <div class="carousel-track-container">
          <ul class="carousel-track">
              <li class="carousel-slide">
                  <img src="jbalvin.jpg" alt="J Balvin Arcoiris">
                  <p>Manizales, Enero 04 2020<br>Estadio Palo Grande</p>
              </li>
              <li class="carousel-slide">
                  <img src="feria-del-libro.jpg" alt="Feria del Libro">
                  <p>Feria del Libro<br>Exposición de artistas locales</p>
              </li>
          </ul>
      </div>
      <button class="carousel-button next" onclick="nextSlide()">&#10095;</button>
  </div>
</section>
<section class="proximos-eventos">
  <h3>Próximos Eventos</h3>
  <div class="evento">
      <p>30/5<br>Concierto Manizales Band</p>
  </div>
  <div class="evento">
      <p>17/6<br>Diviértete con tu mascota</p>
  </div>
</section>
<app-footer></app-footer>


